<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootmybatis.repository.PostMapper">
    <select id="selectAllPosts" resultType="com.example.springbootmybatis.entity.Post">
        select id, user_id, title, contents, createAt, del_yn
        from posts
        order by createAt desc
    </select>
    <select id="selectUserById" resultType="com.example.springbootmybatis.entity.Post" parameterType="string">
        select user_id, title, contents, createAt
        from posts
        where user_id=#{user_id}
    </select>
    <insert id="insertPost" parameterType="com.example.springbootmybatis.entity.Post">
        insert into posts(user_id, title , contents) values(#{user_id},#{title},#{contents})
    </insert>
<!--    <update id="updatePost" parameterType="com.example.springbootmybatis.entity.Post">-->
<!--        update posts set  contents=#{contents}  where title=#{title}-->
<!--    </update>-->
    <update id="deletePost" parameterType="com.example.springbootmybatis.entity.Post">
        update posts set del_yn=1  where user_id=#{user_id}
    </update>

<!--    <delete id="deleteUser" parameterType="string">-->
<!--        delete from users where id=#{id}-->
<!--    </delete>-->
</mapper>